html,
body {
  height: 100%;
}

.navbar-brand {
  font-family: 'Peralta', cursive;
}

blockquote {
  border-left: 5px solid rgba(0,0,0,.125);
  padding-left: 1.25rem;
}

.wrapper {
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

.push {
  height: 60px;
}

footer {

}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-250px * 7));
            transform: translateX(calc(-250px * 7));
  }
}
.slider {
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/*GOTOP*/

.go-top-container{
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 3.3rem;
  height: 3.3rem;
  z-index: -1;
}

.go-top-button{
  width: 0rem;
  height: 0rem;
  background:  red;
  border-radius: 50%;
  cursor: pointer;
  transition: .2s;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.go-top-button i{
  position: absolute;
  font-size: 0.8rem;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  color: white;
  transition: .2s;
}

.show{
  z-index: 10;
}

.show .go-top-button{
  animation: popup .3s ease-in-out;
  width: 3.3rem;
  height: 3.3rem;
  z-index: 11;
}

.show i{
  transform: translate(-50%, -50%)scale(1);
}

@keyframes popup {
  0%{
    width: 0rem;
    height: 0rem;
  }
  50%{
    width: 4rem;
    height: 4rem;
  }
  100%{
    width: 3.3rem;
    height: 3.3rem;
  }
}

a {
  color: red;
}
a:active, a:hover{
  color: red;
}