{% extends 'base.html' %}

{% load static %}

{% block title %}Crear una nueva Categoria{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item"><a href="{% url 'home' %}">Temas</a></li>
  <li class="breadcrumb-item"><a href="{% url 'board_topics' board.pk %}">{{ board.name }}</a></li>
  <li class="breadcrumb-item active">Nueva Categoria</li>
{% endblock %}

{% block content %}
  <form method="post" class="mb-4" novalidate>
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-dark">Crear</button>
    <a class="btn btn-danger" href="{% url 'board_topics' board.pk %}">Cancelar</a>
  </form>
{% endblock %}
