{% extends 'base.html' %}

{% block title %}Cambiar contraseña{% endblock %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Cambiar contraseña</li>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
      <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <button type="submit" class="btn btn-dark">Cambiar contraseña</button>
          <a class="btn btn-danger" href="{% url 'home' %}">Cancelar</a>
      </form>
    </div>
  </div>
{% endblock %}
