Hola,

Alguien solicitó un restablecimiento de contraseña para la dirección de correo electrónico {{email}}. Siga el enlace a continuación:
{{protocolo}}: // {{dominio}} {% url 'password_reset_confirm' uidb64 = uid token = token%}

En caso de que haya olvidado su nombre de usuario de The Community: {{user.username}}

Si hacer clic en el enlace anterior no funciona, copie y pegue la URL en una nueva ventana del navegador.

Si recibió este correo electrónico por error, es probable que otro usuario haya ingresado su dirección de correo electrónico por error al intentar
para restablecer una contraseña. Si no inició la solicitud, no es necesario que realice ninguna acción adicional y puede
No haga caso a este correo.

Gracias,

El equipo de The Community: